doctype html 
html 
  head 
    title Naveen Dance Academy  
    block style 
  body 
    nav#navbar 
      ul 
        div#logo
          img(src="/static/img/logo.png")
        li #[a(href="/" ) Home ]
        li #[a(href="/classinfo") Class Info ]
        li #[a(href="/service") Services]
        li #[a(href="/about") About ]
        li #[a(href="/contact") Contact Us ]
    block content 
    footer#footer 
      div#copyright
      | Copyright© 2021 NaveenDanceAcademy.com | All Rights Reserved
