extends base.pug

block style 
    style 
        include ../static/styleservice.css
        include ../static/style.css

block content 
    h1 Services Offered 
    div(class="services")
        ul 
            li Private Dance Lessons 
            li Group Dance Classes 
            li Dance + Fitness 
            li Wedding Dance Training 
            li Shows & Entertainment 
            li Performance on Social Gatherings